<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webleader.appms.db.mapper.setting.CoalmineMapper">

	<!-- START BY HaoShaSha -->
	<!-- 普通的POJO与数据库映射Map -->
	<resultMap id="CoalmineMap" type="com.webleader.appms.bean.setting.Coalmine">
		<id column="coalmine_id" jdbcType="VARCHAR" property="coalmineId" />
		<result column="coalmine_name" jdbcType="VARCHAR" property="coalmineName" />
		<result column="coalmine_abbr" jdbcType="VARCHAR" property="coalmineAbbr" />
		<result column="coalmine_output" jdbcType="DOUBLE" property="coalmineOutput" />
		<result column="coalmine_num" jdbcType="INTEGER" property="coalmineNum" />
		<result column="coalmine_type" jdbcType="VARCHAR" property="coalmineType" />
		<result column="gas_grade" jdbcType="VARCHAR" property="gasGrade" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<!-- 列名 -->
	<sql id="Coalmine_Column_List">
		coalmine_id, coalmine_name, coalmine_abbr, coalmine_output, coalmine_num,
		coalmine_type,
		gas_grade, remark
	</sql>
	
	<!-- 查询语句开始 -->
	<!-- 主键查询系统参数信息id -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="CoalmineMap">
		SELECT 	<include refid="Coalmine_Column_List" />
		FROM t_base_coalmine_info
		WHERE coalmine_id = #{coalmineId}
	</select>
	<!-- 查询语句结束 -->

	<!-- 修改语句开始 -->
	<!-- 更新系统参数内容 -->
	<update id="updateByPrimaryKeySelective" parameterType="Coalmine">
		UPDATE t_base_coalmine_info
		<set>
			<if test="coalmineName != null &amp;&amp; coalmineName!=''">
				coalmine_name = #{coalmineName},
			</if>
			<if test="coalmineAbbr != null &amp;&amp; coalmineAbbr!=''">
				coalmine_abbr = #{coalmineAbbr},
			</if>
			<if test="coalmineOutput != null &amp;&amp; coalmineOutput!=''">
				coalmine_output = #{coalmineOutput},
			</if>
			<if test="coalmineNum != null &amp;&amp;coalmineNum!=''">
				coalmine_num = #{coalmineNum},
			</if>
			<if test="coalmineType != null &amp;&amp; coalmineType!=''">
				coalmine_type = #{coalmineType},
			</if>
			<if test="gasGrade != null &amp;&amp; gasGrade!=''">
				gas_grade = #{gasGrade},
			</if>
			<if test="remark != null &amp;&amp; remark!=''">
				remark = #{remark},
			</if>
		</set>
		WHERE coalmine_id = #{coalmineId}
	</update>
	<!-- 修改语句结束 -->
	<!-- END BY HaoShaSha -->

</mapper>