<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webleader.appms.db.mapper.alarm.OvertimeAlarmMapper">
  	<!-- START BY HaoShaSha -->
	<!-- 普通的POJO与数据库映射Map -->
	<resultMap id="AlarmMap" type="Alarm">
		<id column="alarm_id" jdbcType="VARCHAR" property="alarmId" />
		<result column="alarm_start_time" jdbcType="TIMESTAMP"
			property="alarmStartTime" />
		<result column="alarm_inhandle" jdbcType="CHAR" property="alarmInhandle" />
		<result column="alarm_end_time" jdbcType="TIMESTAMP" property="alarmEndTime" />
		<result column="alarm_type_id" jdbcType="VARCHAR" property="alarmTypeId" />
		<result column="alarm_name" jdbcType="VARCHAR" property="alarmTypeName" />
	</resultMap>
	<resultMap id="OvertimeAlarmMap" type="OvertimeAlarm" extends="AlarmMap">
		<id column="overtime_id" jdbcType="VARCHAR" property="overtimeId" />
		<result column="arrival_time" jdbcType="TIMESTAMP" property="arrivalTime" />
		<result column="arrival_loc" jdbcType="OTHER" property="arrivalLoc" />
		<result column="staff_id" jdbcType="VARCHAR" property="staffId" />
		<result column="staff_name" jdbcType="VARCHAR" property="staffName" />
		<result column="card_id" jdbcType="VARCHAR" property="cardId" />
		<result column="unit_id" jdbcType="VARCHAR" property="unitId" />
		<result column="unit_name" jdbcType="VARCHAR" property="unitName" />
		<result column="region_id" jdbcType="VARCHAR" property="regionId" />
		<result column="region_name" jdbcType="VARCHAR" property="regionName" />
	</resultMap>
	<!-- 列名 -->
	<sql id="OvertimeAlarm_Column_List">
		overtime_id, arrival_time, arrival_loc, staff_id, alarm_id, staff_name, card_id,
		unit_id, unit_name, region_id, region_name
	</sql>

	<sql id="Alarm_Column_List">
		alarm_id, alarm_start_time, alarm_inhandle, alarm_end_time,
		alarm_type_id
	</sql>
	<!-- 查询语句开始 -->
	<!-- 组合条件分页查询超员报警信息(警报处理状态，区域名称，警报开始时间，警报结束时间， 起始记录数，每页的记录数) -->
	<select id="listOvertimeByPageCondition" parameterType="Map" resultMap="OvertimeAlarmMap">
		SELECT overtime_id, arrival_time, arrival_loc, staff_id, staff_name, 
			card_id,unit_id, unit_name, region_id, region_name,
			alarm.alarm_id, alarm_start_time, alarm_inhandle, alarm_end_time,
			alarm.alarm_type_id,alarm_name
		FROM t_overtime_alarm overtime,
			 t_base_alarm_info alarm, t_base_alarm_sound_setting alarm_sound
		WHERE
			overtime.alarm_id=alarm.alarm_id
			AND alarm.alarm_type_id=alarm_sound.alarm_type_id
			AND alarm_inhandle='0'
		<if test="regionName!=null &amp;&amp; regionName!=''">
			AND region_name LIKE CONCAT(CONCAT('%',#{regionName}),'%')
		</if>
		
		<if test="staffNanme != null and staffNanme != ''">
			AND staff_name  LIKE CONCAT(CONCAT('%',#{staffNanme}),'%')
		</if>
		<if test="unitId != null and unitId != ''">
			AND unit_id=#{unitId}
		</if>
		<if test="regionId != null and regionId != ''">
			AND region_id=#{regionId}
		</if>
		
		<if test="alarmStartTime!=null &amp;&amp; alarmStartTime!=''">
			AND alarm_start_time &gt; #{alarmStartTime}
		</if>
		<if test="alarmEndTime!=null &amp;&amp; alarmEndTime!=''">
			AND alarm_end_time &lt; #{alarmEndTime}
		</if>
		ORDER BY overtime_id ASC
		<if test="pageBegin != null and pageSize != null">LIMIT #{pageSize} OFFSET #{pageBegin}</if>

	</select>


	<!-- 统计符合条件的超员报警信息数量(警报处理状态，区域名称，警报开始时间，警报结束时间) -->
	<select id="countOvertimeByConditon" parameterType="Map"	resultType="int">
		SELECT COUNT(*)
		FROM t_overtime_alarm overtime,
			 t_base_alarm_info alarm, t_base_alarm_sound_setting alarm_sound
		WHERE overtime.alarm_id=alarm.alarm_id
			AND alarm.alarm_type_id=alarm_sound.alarm_type_id
			AND alarm_inhandle='0'
		<if test="regionName!=null &amp;&amp; regionName!=''">
			AND region_name LIKE CONCAT(CONCAT('%',#{regionName}),'%')
		</if>
		<if test="alarmStartTime!=null &amp;&amp; alarmStartTime!=''">
			AND alarm_start_time &gt; #{alarmStartTime}
		</if>
		<if test="alarmEndTime!=null &amp;&amp; alarmEndTime!=''">
			AND alarm_end_time &lt; #{alarmEndTime}
		</if>
		
		<if test="staffNanme != null and staffNanme != ''">
			AND staff_name  LIKE CONCAT(CONCAT('%',#{staffNanme}),'%')
		</if>
		<if test="unitId != null and unitId != ''">
			AND unit_id=#{unitId}
		</if>
		<if test="regionId != null and regionId != ''">
			AND region_id=#{regionId}
		</if>
	</select>
	<!-- 查询语句结束 -->
	<!-- END BY HaoShaSha -->
	
	<!-- 实时表中有的，但限制区域表中没有的员工，需要查询这些员工是否超时 -->
	<select id="getRealtimeOvertimeInDB" parameterType="Map" resultType="Map">
		SELECT ((lsstaff.daq_time - min(daq_date)) > (schedule.end_time - schedule.start_time + upschedule.overtime_value)) isovertime, 
			staff.staff_id, min(daq_date) arrive_time
		FROM t_duty_date date, t_duty_unit unit, t_base_staff_info staff, t_ls_staff_info lsstaff, 
				t_base_duty_schedule schedule, t_base_duty_schedule upschedule, t_ls_staff_info_his his, 
				(SELECT lsstaff.staff_id
				FROM t_ls_staff_info lsstaff
				WHERE lsstaff.flag='0'
				EXCEPT
				SELECT overtime.staff_id
				FROM t_base_alarm_info base, t_overtime_alarm overtime
				WHERE overtime.alarm_id=base.alarm_id
				AND base.alarm_inhandle='0') tt
		WHERE date.d_id=unit.d_id
		AND work_date=#{workDate}
		AND unit.unit_id=staff.unit_id
		AND lsstaff.staff_id=staff.staff_id
		AND schedule.duty_id=date.duty_id
		AND schedule.up_duty_id=upschedule.duty_id
		AND his.staff_id=staff.staff_id
		AND his.daq_date > #{currentDate}
		AND tt.staff_id=staff.staff_id
		GROUP BY staff.staff_id, schedule.end_time, schedule.start_time, upschedule.overtime_value, lsstaff.daq_time
	</select>
	
	<!-- 查询得到数据库中，存在的超时报警，但员工以及离开的记录 -->
	<select id="getUnovertimeInfoInDB" resultType="Map">
		SELECT base.alarm_id
		FROM t_base_alarm_info base, t_overtime_alarm overtime, 
			(SELECT overtime.staff_id
			FROM t_base_alarm_info base, t_overtime_alarm overtime
			WHERE overtime.alarm_id=base.alarm_id
			AND base.alarm_inhandle='0'
			EXCEPT
			SELECT lsstaff.staff_id
			FROM t_ls_staff_info lsstaff
			WHERE lsstaff.flag='0') tt
		WHERE base.alarm_inhandle='0'
		AND base.alarm_id=overtime.alarm_id
		AND overtime.staff_id=tt.staff_id
	</select>
	
	<!-- 在超时报警表中添加一条记录 -->
	<insert id="insertOvertimeAlarm" parameterType="Map">
		INSERT INTO t_overtime_alarm (overtime_id, arrival_time, arrival_loc, staff_id, alarm_id, 
			staff_name, card_id, unit_id, unit_name, region_id, region_name)
		SELECT #{overtimeId}, #{arriveTime}, geo_point, staff_id, #{alarmId}, staff_name, 
			card_id, unit_id, unit_name, region_id, region_name
		FROM t_ls_staff_info
		WHERE staff_id=#{staffId}
	</insert>
	
</mapper>
