<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webleader.appms.db.mapper.alarm.StaffAlarmMapper">
	
	<!-- START BY HaoShaSha -->
	<!-- 普通的POJO与数据库映射Map -->
	<resultMap id="AlarmMap" type="Alarm">
		<id column="alarm_id" jdbcType="VARCHAR" property="alarmId" />
		<result column="alarm_start_time" jdbcType="TIMESTAMP"
			property="alarmStartTime" />
		<result column="alarm_inhandle" jdbcType="CHAR" property="alarmInhandle" />
		<result column="alarm_end_time" jdbcType="TIMESTAMP" property="alarmEndTime" />
		<result column="alarm_type_id" jdbcType="VARCHAR" property="alarmTypeId" />
		<result column="alarm_name" jdbcType="VARCHAR" property="alarmTypeName" />
	</resultMap>
		
	<resultMap id="StaffAlarmMap" type="StaffAlarm" extends="AlarmMap">
		<id column="reader_id" jdbcType="VARCHAR" property="readerId" />
		<id column="card_id" jdbcType="VARCHAR" property="cardId" />
		<result column="reader_dis" jdbcType="DOUBLE" property="readerDis" />
		<result column="reader_ant_id" jdbcType="VARCHAR" property="readerAntId" />
		<result column="staff_name" jdbcType="VARCHAR" property="staffName" />
		<result column="unit_id" jdbcType="VARCHAR" property="unitId" />
		<result column="unit_name" jdbcType="VARCHAR" property="unitName" />
		<result column="reader_name" jdbcType="VARCHAR" property="readerName" />
	</resultMap>
	<!-- 列名 -->
	<sql id="StaffAlarm_Column_List">
		reader_id, alarm_id, card_id, reader_dis, reader_ant_id, staff_name,unit_id, unit_name
	</sql>
	<sql id="Alarm_Column_List">
		alarm_id, alarm_start_time, alarm_inhandle, alarm_end_time,	alarm_type_id
	</sql>
	<!-- 查询语句开始 -->
	<!-- 组合条件分页查询呼叫报警信息(警报处理状态，警报开始时间，警报结束时间， 起始记录数，每页的记录数) -->
	<select id="listStaffAlarmByPageCondition" parameterType="Map"	resultMap="StaffAlarmMap">
		<!-- SELECT reader_id, card_id, reader_dis, reader_ant_id, staff_name, unit_id, unit_name,
			   alarm.alarm_id, alarm_start_time, alarm_inhandle, alarm_end_time,
			   alarm.alarm_type_id,alarm_name
		FROM t_ls_staff_alarm staff_alarm,
			 t_base_alarm_info alarm, t_base_alarm_sound_setting alarm_sound
		WHERE -->
		SELECT reader_id, card_id, reader_dis, reader_ant_id, staff_name, unit_id, unit_name,
			   alarm.alarm_id, alarm_start_time, alarm_inhandle, alarm_end_time,
			   alarm.alarm_type_id,alarm_name,reader.name reader_name
		FROM t_ls_staff_alarm staff_alarm,
			 t_base_alarm_info alarm, t_base_alarm_sound_setting alarm_sound, reader
		WHERE reader.id=staff_alarm.reader_id
			AND staff_alarm.alarm_id=alarm.alarm_id
			AND alarm.alarm_type_id=alarm_sound.alarm_type_id
		<if test="alarmInhandle!=null &amp;&amp; alarmInhandle!=''">
			AND alarm_inhandle = #{alarmInhandle}
		</if>
		<if test="alarmInhandle==null &amp;&amp; alarmInhandle==''">
			AND alarm_inhandle='0'
		</if>
		<if test="alarmStartTime!=null &amp;&amp; alarmStartTime!=''">
			AND alarm_start_time &gt; #{alarmStartTime}
		</if>
		<if test="alarmEndTime!=null &amp;&amp; alarmEndTime!=''">
			AND alarm_end_time &lt; #{alarmEndTime}
		</if>
		
		<if test="staffNanme != null and staffNanme != ''">
			AND staff_name  LIKE CONCAT(CONCAT('%',#{staffNanme}),'%')
		</if>
		<if test="unitId != null and unitId != ''">
			AND unit_id=#{unitId}
		</if>
		
		ORDER BY reader_id, alarm_id
		<if test="pageBegin != null and pageSize != null">LIMIT #{pageSize} OFFSET #{pageBegin}</if>

	</select>


	<!-- 统计符合条件的呼叫报警信息数量(警报处理状态，警报开始时间，警报结束时间) -->
	<select id="countStaffAlarmByConditon" parameterType="Map"	resultType="int">
		SELECT COUNT(*)
		FROM t_ls_staff_alarm staff_alarm,
			 t_base_alarm_info alarm, t_base_alarm_sound_setting alarm_sound
		WHERE
			staff_alarm.alarm_id=alarm.alarm_id
			AND alarm.alarm_type_id=alarm_sound.alarm_type_id
		<if test="alarmInhandle!=null &amp;&amp; alarmInhandle!=''">
			AND alarm_inhandle = #{alarmInhandle}
		</if>
		<if test="alarmInhandle==null &amp;&amp; alarmInhandle==''">
			AND alarm_inhandle='0'
		</if>
		<if test="alarmStartTime!=null &amp;&amp; alarmStartTime!=''">
			AND alarm_start_time &gt; #{alarmStartTime}
		</if>
		<if test="alarmEndTime!=null &amp;&amp; alarmEndTime!=''">
			AND alarm_end_time &lt; #{alarmEndTime}
		</if>
		
		<if test="staffNanme != null and staffNanme != ''">
			AND staff_name  LIKE CONCAT(CONCAT('%',#{staffNanme}),'%')
		</if>
		<if test="unitId != null and unitId != ''">
			AND unit_id=#{unitId}
		</if>
		
	</select>
	<!-- END BY HaoShaSha -->

</mapper>